<script src="../static/js/bootstrap/bootstrap.bundle.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/popper.js"></script>
<script type="text/javascript" charset="utf8" src="../static/js/datatable.js"></script>
<script src="../static/js/datatables_button.js"></script>
<script src="../static/js/cloudfare.js"></script>
<script src="../static/js/datatables_buttons_html5.js"></script>
<script src="../static/js/cloudflare_momnet_min.js"></script>
<script type="text/javascript" src="../static/js/datepicker.js"></script>
<script src="../static/js/file_proceed.js"></script>
<script>
    setTimeout(function() {
        bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close();
    }, 3000)
</script>